@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', arial;
}

body {
    font-size: 13px;
    overflow-x: hidden;
}

.aba {
    size: 20%;
}

:root {
    --c-red: rgba(255, 0, 0, 0.4);
    --c-white: rgb(255, 255, 255);
    --c-orange: #B28756;
    --c-blue: #000000;
    --c-gray: #999;
    --c-gray-light: #383838;
    --bg-light-gray: #000000f7;
    --c-border-red: rgba(255, 0, 0, 0);
}

/*Area - menu*/
header {
    height: 100px;
    background-color: var(--c-red);
    position: fixed;
    width: 100vw;
}

.header {
    max-width: 87.45vw;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;

}

.logo {
    width: 140px;
}

.logoimg img {
    width: 140px;
    height: 60px;
}

.menu_mobile {
    display: none;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.menu nav ul,
.menu nav ul li {
    list-style: none;
}

.menu nav ul {
    display: flex;
}

.menu nav ul li a {
    text-decoration: none;
    color: var(--c-white);
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    border-bottom: 5px solid var(--c-border-red);
}

.menu nav ul li a:hover,
.menu nav ul li .active {
    border-bottom: 5px solid var(--c-white);
    color: rgb(0, 0, 0);
}

.section-aboutus .section-aboutus-left .button {
    padding: 13px 46px;
}


/*section - banner*/
.banner {
    height: caLc(100vh - 100px);
    background-color: #333;
    background-image: url(../images/background/fundo.jpeg);
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
}

.banner .sliders {
    height: 100%;
    width: 1000vw;
}

.banner .slide {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.55);
}

.banner .slidearea {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: var(--c-white);
}

.banner .slidearea h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
    color: red;
}

.banner .slidearea .pok {
    color: var(--c-white);
}

.banner .slidearea h2 {
    text-transform: uppercase;
    margin-top: 1rem;
    color: #a1b9ed;
}

.banner .sliders-pointers {
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*section - default*/
.default {
    padding-top: 50px;
    padding-bottom: 50px;
}

.default .section-title,
.default {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.default .section-title {
    font-size: 30px;
    color: white
}

.default .section-body {
    margin: auto;
    max-width: 87.45vw;
}

.default.light {
    background-color: var(--bg-light-gray);
}

.default.light.dl-aboutus {
    background: linear-gradient(750deg, #cc1111, var(--c-blue), #000000);
}

.default.light .section-title {
    color: white;

}

.default.light .section-body {
    color: var(--c-red);
}

.default.dark {
    background-color: var(--c-red);
}

.default.dark .section-title,
.default.dark .section-body {
    color: var(--c-white);
}

/*Section - footer*/
footer {
    background-color: #000;
    padding: 20px;
}

.rodape {
    color: white;
    display: flex;
    justify-content: end;
}

/*CSS - Areas Specifies
Section - About*/
.section-aboutus {
    display: flex;
}

.section-aboutus--left {
    flex: 1;
}

.section-aboutus--left p {
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    color: white
}

.section-aboutus--right {
    width: 520px;
    text-align: center;
}

.section-aboutus--right img {
    width: 480px;
    box-shadow: 0px 6px 10px #333;
    border-radius: 3px;
}

.img-btt {
    display: flex;
    justify-content: center;
}

/*responsivo*/
@media screen and (max-width: 860px) {
    .corpo {
        width: 100%;
    }

    header {
        height: 60px;
        background-color: var(--c-red);
        position: fixed;
        width: 100vw;
    }

    .header {
        max-width: 87.45vw;
        height: 100px;
        margin: auto;
        display: flex;
        align-items: center;

    }

    .logoimg img {
        width: 60%;
        height: 60%;
        margin-top: none;
    }

    .menu {
        flex: 1;
        display: flex;
        justify-content: flex-end;
    }
    .menu a{
        font-size: 9px;
    }


    .menu nav ul,
    .menu nav ul li {
        list-style: none;
    }

    .menu nav ul {
        display: flex;
    }

    .menu nav ul li a {
        text-decoration: none;
        color: var(--c-white);
        text-transform: uppercase;
        font-weight: 600;
        display: flex;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
        height: 30px;
        border-bottom: 5px solid var(--c-border-red);
    }

    .menu nav ul li a:hover,
    .menu nav ul li .active {
        border-bottom: 5px solid var(--c-white);
        color: rgb(0, 0, 0);
    }


    .section-aboutus .section-aboutus-left .button {
        padding: 13px 46px;
    }

    .button.b-aboutus {
        background-color: #181818;
        text-align: center;

    }

    /*section - banner*/
    .banner {
        height: caLc(100vh - 100px);
        background-color: #333;
        background-image: url(../images/background/fundo.jpeg);
        background-size: cover;
        background-position: bottom;
        overflow: hidden;
        height: 60vh;
    }

    .banner .sliders {
        height: 100%;
        width: 1000vw;
    }

    .banner .slide {
        width: 100vw;
        height: 100%;
        display: flex;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.55);
    }

    .banner .slidearea {
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
        justify-content: center;
        color: var(--c-white);
    }

    .banner .slidearea h1 {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 50px;
        color: red;
        font-size: 16px;
    }

    .banner .slidearea .pok {
        color: var(--c-white);
    }

    .banner .slidearea h2 {
        text-transform: uppercase;
        margin-top: 1rem;
        color: #a1b9ed;
        font-size: 14px;
    }
    .pika-gif{
        width: 100%;
    }

    .banner .sliders-pointers {
        width: 100vw;
        height: 20px;
        position: absolute;
        margin-top: -50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /*section - default*/
    .default {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .default .section-title,
    .default {
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
    }

    .default .section-title {
        font-size: 30px;
        color: white
    }



    .default .section-body {
        margin: auto;
        max-width: 87.45vw;
    }

    .default.light {
        background-color: var(--bg-light-gray);
    }

    .default.light.dl-aboutus {
        background: linear-gradient(750deg, #cc1111, var(--c-blue), #000000);
    }

    .default.light .section-title {
        color: white;
        font-size: 14px;
    }

    .default.light .section-body {
        color: var(--c-red);
    }

    .default.dark {
        background-color: var(--c-red);
    }

    .default.dark .section-title,
    .default.dark .section-body {
        color: var(--c-white);
    }


    .section-aboutus {
        display: flex;
    }

    .section-aboutus--left {
        flex: 1;
    }

    .section-aboutus--left p {
        font-size: 12px;
        line-height: 25px;
        font-weight: 400;
        color: white
    }

    .section-aboutus--right {
        width: 100%;
        justify-content: center;
    }

    .section-aboutus--right img {
        width: 100%;
        display: flex;
        justify-content: center;
        box-shadow: 0px 6px 10px #333;
        border-radius: 3px;
    }

    .img-btt {
        display: flex;
        justify-content: center;
    }

    footer {
        background-color: #000;
        padding: 20px;
    }

    .rodape {
        font-size: 8px;
        color: white;
        display: flex;
        justify-content: end;
    }
}