@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', arial;
}

body {
    font-size: 13px;
    overflow-x: hidden;
}

.aba {
    size: 20%;
}

:root {
    --c-red: rgba(255, 0, 0, 0.4);
    --c-white: rgb(255, 255, 255);
    --c-orange: #B28756;
    --c-blue: #000000;
    --c-gray: #999;
    --c-gray-light: #383838;
    --bg-light-gray: #000000f7;
    --c-border-red: rgba(255, 0, 0, 0);
}

.bg-color {
    max-height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
}

.container {

    height: 86vh;
    display: flex;
    flex-direction: column;
    margin-top: 110px;

}

header {
    height: 100px;
    background-color: var(--c-red);
    position: fixed;
    width: 100vw;
}

.header {
    max-width: 87.45vw;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;

}

.logo {
    width: 140px;
}

.logoimg img {
    width: 140px;
    height: 60px;
}

.menu_mobile {
    display: none;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.menu nav ul,
.menu nav ul li {
    list-style: none;
}

.menu nav ul {
    display: flex;
}

.menu nav ul li a {
    text-decoration: none;
    color: var(--c-white);
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    border-bottom: 5px solid var(--c-border-red);
}

.menu nav ul li a:hover,
.menu nav ul li .active {
    border-bottom: 5px solid var(--c-white);
    color: rgb(0, 0, 0);
}

.animes {
    background: url(../images/background/fundo.jpeg) no-repeat right top/cover;
    width: 100%;
    height: 100vh;
    color: rgb(255, 255, 255);
    display: flex;

}

.content-animes {
    height: 60px;
    align-items: center;
    width: 120px;
    margin: auto;
    display: flex;
    justify-content: center;

}

.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 60px 0;
    margin-top: 1px;
}

.btn-seta {
    background-color: #f1ecff58;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    border: 0;
    cursor: pointer;
    transition: background-color ease-in-out 0.2s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.btn-seta.btn-voltar {
    transform: rotateY(180deg);
}

.btn-seta:hover {
    background-color: #ff0000;
}

.lista-pokemons {
    width: 310px;
    height: 520px;
    position: relative;
}

.liga {

    justify-content: center;
    display: flex;

}

.liga .nome {

    justify-content: right;
    color: white;
    display: flex;
    text-align: center;

}

.imagem-liga {
    width: 200px;
    height: 300px;
}

.slider {
    display: flex;
    justify-content: center;
    position: left;
}

.lista-anime {
    width: 310px;
    height: 520px;
    position: relative;
}

.cartao {

    background-color: rgba(255, 68, 0, 0.596);
    opacity: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: opacity 0.3s ease-in-out;
}


.cartao .container-imagem {
    text-align: center;
}


.cartao .descricao {
    background-color: rgba(255, 255, 255, 0.5);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.cartao .descricao .titulo {
    background-color: #333;
    color: #f1ecff;
    font-size: 15px;
    padding: 12px;
}

.cartao .descricao .texto {
    font-size: 14px;
    padding: 12px;
    text-align: justify;
    max-height: 115px;
    overflow-y: auto;
    color: #000000;
}

.cartao.selecionado {
    opacity: 1;
    z-index: 1;
}

.rodape {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    height: 56px;
    align-items: center;
    display: flex;
    justify-content: end;

}

.rodape p {
    padding: 2px;
    margin-right: 15px;
}

/*responsivo*/
@media screen and (max-width: 860px) {
    .corpo {
        width: 100%;
    }

    header {
        height: 60px;
        background-color: var(--c-red);
        position: fixed;
        width: 100vw;
    }

    .header {
        max-width: 87.45vw;
        height: 100px;
        margin: auto;
        display: flex;
        align-items: center;

    }

    .logoimg img {
        width: 60%;
        height: 60%;
        margin-top: -40px;
    }

    .menu {
        flex: 1;
        display: flex;
        justify-content: flex-end;
    }
    .menu a{
        font-size: 9px;
    }


    .menu nav ul,
    .menu nav ul li {
        list-style: none;
    }

    .menu nav ul {
        display: flex;
    }

    .menu nav ul li a {
        text-decoration: none;
        color: var(--c-white);
        text-transform: uppercase;
        font-weight: 600;
        display: flex;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
        height: 30px;
        border-bottom: 5px solid var(--c-border-red);
    }

    .menu nav ul li a:hover,
    .menu nav ul li .active {
        border-bottom: 5px solid var(--c-white);
        color: rgb(0, 0, 0);
    }

    .animes {
        background: url(../images/background/fundo.jpeg) no-repeat right top/cover;
        width: 100%;
        height: 100vh;
        color: rgb(255, 255, 255);
        display: flex;
        
    
    }

    .content-animes {
        height: 50px;
        align-items: center;
        width: 120px;
        margin: auto;
        display: flex;
        justify-content: center;
        font-size: 10px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .slider {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 80px;
        margin: 60px 0;
        margin-top: 1px;
    }

    .btn-seta {
        background-color: #f1ecff58;
        width: 40px;
        height: 40px;
        border-radius: 50px;
        border: 0;
        cursor: pointer;
        transition: background-color ease-in-out 0.2s;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    .btn-seta.btn-voltar {
        transform: rotateY(180deg);
    }

    .btn-seta:hover {
        background-color: #ff0000;
    }

    .lista-pokemons {
        width: 310px;
        height: 520px;
        position: relative;
    }

    .liga {

        justify-content: center;
        display: flex;

    }

    .liga .nome {

        justify-content: right;
        color: white;
        display: flex;
        text-align: center;
        font-size: 12px;

    }

    .imagem-liga {
        width: 70px;
        height: 100px;
    }

    .slider {
        display: flex;
        justify-content: center;
        position: left;
    }

    .lista-anime {
        width: 210px;
        height: 320px;
        position: relative;
    }

    .cartao {

        background-color: rgba(255, 68, 0, 0.596);
        opacity: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        padding: 10px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        transition: opacity 0.3s ease-in-out;
    }


    .cartao .container-imagem {
        text-align: center;
    }


    .cartao .descricao {
        background-color: rgba(255, 255, 255, 0.5);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .cartao .descricao .titulo {
        background-color: #333;
        color: #f1ecff;
        font-size: 10px;
        padding: 12px;
    }

    .cartao .descricao .texto {
        font-size: 9px;
        padding: 12px;
        text-align: justify;
        max-height: 115px;
        overflow-y: auto;
        color: #000000;
    }

    .cartao.selecionado {
        opacity: 1;
        z-index: 1;
    }

    footer {
        background-color: #000;
        padding: 20px;
        margin-top: -55px;
    }

    .rodape {
        font-size: 8px;
        color: white;
        display: flex;
        justify-content: end;
    }
}